In [1]:
%sql
DROP table if exists "test"